- name: Hello playbook
  hosts: webservers
  tasks:
    - name: Ping hosts
      ansible.builtin.ping:
    - name: Upgrade packages
      apt:
        force_apt_get: yes
        upgrade: dist
      # Use --ask-become-pass to ask for sudo password for hosts
      become: yes
