- name: Hello playbook
  hosts: webservers
  tasks:
    - name: Ping hosts
      ansible.builtin.ping:
    - name: Upgrade packages
      apt:
        force_apt_get: yes
        upgrade: dist
        # Use --ask-become-pass to ask for sudo password for hosts or:
        # $ ansible-vault create vault.yml
        # ansible_become_password: "foobar"
        # $ ansible-playbook --extra-vars "@vault.yml" --ask-vault-pass ...
      become: yes
